body {
  font-family: "Lucida Grande";
}

li {
  list-style: none;
}

/* 共有部品 */
.header {
  height: 90px;
}

.header-logo {
  color: #BF0000;
  float: left;
  font-size: 70px;
}

.header-list li {
  color: #BF0000;
  float: right;
  padding: 20px 20px;
}

.footer {
  background-color: #CCCCCC;
  height: 120px;
}

.footer-warning {
  float: left;
  font-size: 90px;
}

.footer-list {
  color: #BF0000;
  float: right;
  padding: 20px 20px;
}

/* ProductList */
.product-list {
  width: auto
  background-color: #BF0000;
  display: inline-block;
  padding: 10px;
}

.product-list img {
  width: 30%;
}

/* ProductDetail */
.product-detail {
  width: auto;
  background-color: #BF0000;
  display: inline-block;
  padding: 10px;
}

.detail-img {
  display: inline-block;
}

.detail-img img {
  width: 50%;
}

.detail-name {
  background-color: #FFFFFF;
  width: 50%;
  font-size: 40px;
}

.detail-description {
  background-color: #FFFFFF;
  width: 50%;
  font-size: 20px;
}
