body {
  font-family: "Lucida Grande";
}

li {
  list-style: none;
}

/* 共有部品 */
.header {
  width: auto;
  height: 90px;
}

.header-logo {
  color: #BF0000;
  float: left;
  font-size: 70px;
}

.header-list li {
  color: #BF0000;
  float: right;
  padding: 20px 20px;
}

.footer {
  background-color: #dAdAd9;
  border-top: 2px solid #808080;
  width: auto;
  height: 120px;
}

.footer-warning {
  background-color: #fff9c8;
  float: left;
  font-size: 50px;
}

.footer-list {
  color: #BF0000;
  float: right;
  padding: 20px 20px;
}

/* ProductList */
.search {
  height: 40px;
  border-top: 2px solid #dee7ec;
  border-bottom: 2px solid #dee7ec;
}

.search-list li {
  float: left;
  padding: 2px 15px;
}

.product-list {
  letter-spacing: normal;
}

.product-list li {
  background-color: #BF0000;
  display: inline-block;
  margin: 0 1% 30px;
  max-width: 30%;
  max-height: 30%;
  padding: 0;
  vertical-align: top;
}

.product-list img {
  max-width: 100%;
  max-height: 60%;
}

/* ProductDetail */
.breadcrumb li {
  display:inline;
  list-style: none;
  font-weight: bold;
}

.breadcrumb li:after {
  font-family: '>';
  content: '\f0da';
  padding: 0 3px;
  color: silver;
}

.breadcrumb li:last-child:after {
  content: '';
}

.product-detail {
  width: auto;
  /* background-color: #BF0000; */
  border-top: ;
  display: inline-block;
  padding: 10px;
}

.detail-img {
  display: inline-block;
}

.detail-img img {
  width: 50%;
}

.detail-name {
  background-color: #FFFFFF;
  width: 50%;
  font-size: 40px;
}

.detail-description {
  background-color: #FFFFFF;
  width: 50%;
  font-size: 20px;
}
